/* CSS Document */

/* FONTS */
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


/* ALGEMENE STYLING */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  font-family:eenfont, sans-serif;
  color:rgb(7, 44, 67);
  background-color:rgb(228, 228, 228);
  padding: 1em; 
  margin:0;
  padding:0;
}

header{
  width: 100%;
  padding-top:1em;
  background-color: #f982cd; 
  position: fixed;
  text-align: center;
  color: #48002e;
  box-shadow: 6px 2px 10px -5px #000000;
  z-index: 1000;
  

}

header h1{
  color:white;
  font-size: min(6vw,50px);
}

/* checkboxes */
.genres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

label{
  margin: 1em;
  
}


/* films */


ul {
  padding:1.5em;
  margin: 0;
  display:grid;
  grid-gap:1.5em;
  grid-template-columns:repeat(auto-fit, minmax(18em, 1fr));
  list-style-type: none;
  padding-top:20em;
}

li {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
}

li:hover{
  background-color: rgba(255, 255, 255, 0.685);
  box-shadow: 6px 5px 13px -5px #000000
}

li h3{
  color:rgb(0, 0, 0);
}

li img{
  display:block;
  width:auto;
  height:12em;
  margin:0 auto;

}


/* add to favorites */

.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    position:relative;
}
.star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
   left:3em;
   bottom:9em;
   color:#fcad03;
   
}
.star:checked:before {
   content: "\2606";
   position: absolute;
   color: #f982cd;
}


