/* CSS Document */

/* FONTS */
@font-face {
	font-family: 'nickelodeonfont';
	src: url('../fonts/nickelodeon_font_2.0_por_disney_channel_nick_city-webfont.woff') format('woff2'),
			 url('../fonts/nickelodeon_font_2.0_por_disney_channel_nick_city-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'granjonroman';
    src: url('../fonts/granjon-webfont.woff2') format('woff2'),
         url('../fonts/granjon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ALGEMENE STYLING */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root{
	--backgroundColorN: #F96811;
	--fontColorN: white;
	--textShadowN: 0 0.16em 0.1em rgba(0,0,0,0.5);

	--backgroundColorG1:rgb(184, 184, 184);
	--backgroundColorG2:rgb(83, 83, 83);
	--fontColorG1: white;
	--fontColorG2:black;
}


@media (prefers-color-scheme: dark){
	:root{
		--backgroundColorN: #1A1A1A;
		--fontColorN: #F96811;
		--textShadowN: 0 0.16em 0.1em rgba(0,0,0,0.5);

		--backgroundColorG1:rgb(36, 36, 36);
		--backgroundColorG2:rgb(0, 0, 0);
		--fontColorG1: rgb(0, 0, 0);
		--fontColorG2:rgb(255, 255, 255);
		
	}
}

body section:nth-of-type(1){
  font-family: "nickelodeonfont" ;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background-color: var(--backgroundColorN);
}

body section:nth-of-type(2){
	font-family: "granjonroman" ;
	padding-top: 6vw;
	padding-bottom: 9vw;
	background-color: var(--backgroundColorG1);
	text-align: center;
  }

/* BRAND STYLING */

h1 {
	color: var(--fontColorN);
	font-size: max(4.5vw, 35px);
}

h1 span{
	text-shadow: var(--textShadowN);
	display: inline-block;
	
}

h2{
	color: var(--fontColorG1);
	font-size: max(4.5vw, 35px);
}

h2 span{
	text-shadow: var(--textShadowN);
	display: inline-block;
	
}

/* Animaties Nickelodeon */
@keyframes rollen-animation {
	0% {
		transform:translatex(0) translateY(0) rotate(0);
		opacity: 0;
	}

	18% {
		transform:translatex(4em) translateY(0) rotate(1turn);
	}

	30% {
		transform:translatex(5em) translateY(0) rotate(1turn);
		opacity: 1;
	}
	100%{
		transform: translateY(0) scale(1) rotate(1turn) rotatey(0) translateX(5em);
	}


  }

  @keyframes springen-animation {
	0% {
		transform:translatey(0);;
		opacity: 0;
	}


	5% {
		transform:translatey(-3em) translatex(1em);
	}

	7% {
		transform:translatey(0em) translatex(2em);
	}

	10% {
		transform:translatey(-3em) translatex(3em);
	}

	15% {
		transform:translatey(0) translatex(4em);
	}

	20% {
		transform:translatey(-2) translatex(4em);
	}

	30%{ 
		transform:translatey(0) translatex(5em);
		opacity: 1;

	}
	100%{
		transform: translateY(0) scale(1) rotatey(0) translateX(5em);
	}

	


  }
  
  @keyframes salto-animation {
	0% {
		transform:translatex(0) translateY(0) rotate(0);
		opacity: 0;
	}

	10% {
		transform:translatex(4em) translateY(-1em) rotate(1turn);
	}

	20% {
		transform:translatex(4em) translateY(-0.5em) rotate(1turn);
	}

	30% {
		transform:translatex(5em) translateY(0) rotate(1turn);
		opacity: 1;
	}
	100%{
		transform: translateY(0) scale(1) rotatey(0) translateX(5em);
	}


  }


  @keyframes vormen-animation {
	0% {
		transform:translatex(0) translateY(0) scaley(1);
		opacity: 0;
	}

	10% {
		transform:translatex(1em) translateY(0) scaley(2);
	}

	20% {
		transform:translatex(4em) translateY(0) scaley(2);
	}

	30% { transform:translatex(5em);
		opacity: 1;

	}
	100%{
		transform: translateY(0) scale(1) rotatey(0) translateX(5em);
	}
  }

  @keyframes aanloop-animation {
	0% {
	  transform:none;
	  opacity: 0;
	}
	2% {
	  transform:scale(1.2, .8); 
	}
	3% {
	  transform:scale(.9, 1.1); 
	}
	5% {
	  transform:scale(1.35, .65);
	}
	8% {
	  transform:translatey(-3em)  scale(.67, 1.5); 
	}
	10% {
	  transform:scale(2, .25) translatex(3em); 
	}
	12% {
	  transform:scale(.8, 1.2) translatex(3.2em); 
	}
	15% {
	  transform:scale(1.1, .9) translatex(3.4em); 
	}
	18% {
	  transform:scale(.95, 1.05) translatex(3.6em); 
	}
	20% {
	  transform:scale(1.02, .98) translatex(4em); 
	}
	30% {
	  transform:translatex(5em);
	  opacity: 1;
	}
	100%{
		transform: translateY(0) scale(1) rotatey(0) translateX(5em);
	}
  }



  @keyframes wijder-animation {
	0% {
		transform:translatex(0) scaleX(1) rotate(0);
		opacity: 0;
	}

	10% {
		transform:translatex(3em)  scaleX(3) rotate(2turn);
	}

	20% {
		transform:translatex(4em) scaleX(2) rotate(1turn);
	}

	30%{ transform:translatex(5em);
		opacity: 1;

	}
	100%{
		transform: translateY(0) scale(1) rotatey(0) translateX(5em);
	}
  }

  @keyframes hobbelig-animation {
	0% {
	  transform:translatey(0);
	  opacity:0;
	}
	2% {
	  transform:translatey(-1em);
	}
	5% {
	  transform:translatey(1em);
	}
	10% {
	  transform:translatey(-3em) translatex(1em);
	}
	15% {
	  transform:translatey(1em) translatex(2em);
	}
	20% {
      transform:translatey(-2em) translatex(3em);
	}	
	25% {
		transform:translatey(0) translatex(4em);
	  }
	
	30% { 
	  transform:translatex(5em);
	  opacity: 1;}
	
	100%{
		transform: translateY(0) scale(1) rotatey(0) translateX(5em);
	}
  }

  @keyframes vervormen-animation {
	0% {
		transform:translatex(0) ;
		opacity: 0;
	}

	10% {
		transform:translatex(3em) scalex(1.5) scaley(-2) ;
		
	}

	20% {
		transform:translatex(3em) scalex(2) scaley(-1.5) ;
	}

	30%{ transform:translatex(5em) scalex(1) scaley(1);
		opacity: 1;

	}

	100%{
		transform: translateY(0) scale(1) rotatey(0) translateX(5em);
	}



  }

  @keyframes nickelodeon-animation {
	30% {
		transform: translateY(0) rotatey(0) translateX(0);
	}

	60% {
		transform: translateY(0) rotatey(1turn) translateX(0);
		opacity: 1;
		font-style: normal;
	}

	70%{
		transform: translateY(0) rotatey(1turn) translateX(0);
		opacity: 1;

		
	}

	100%{
		transform: translateY(-3em) rotatey(1turn) translateX(20em);
		opacity:0;
	}

	

  }

  section h1{
	transform-origin:center;
	opacity: 0;

  }
  section:hover h1 {
	opacity: 1;
	animation-name:nickelodeon-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }
  
  section:hover h1 span:nth-of-type(1) {
	animation-name:rollen-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }

  section:hover h1 span:nth-of-type(2) {
	animation-name:springen-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }

  section:hover h1 span:nth-of-type(3) {
	animation-name:salto-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }

  section:hover h1 span:nth-of-type(4) {
	animation-name:vormen-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }

  section:hover h1 span:nth-of-type(5) {
	animation-name:aanloop-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }

  section:hover h1 span:nth-of-type(6) {
	animation-name:wijder-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }

  section:hover h1 span:nth-of-type(7) {
	animation-name:hobbelig-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }

  section:hover h1 span:nth-of-type(8) {
	animation-name:vervormen-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }

  section:hover h1 span:nth-of-type(9) {
	animation-name:rollen-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }

  section:hover h1 span:nth-of-type(10) {
	animation-name:vormen-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }

  section:hover h1 span:nth-of-type(11) {
	animation-name:rollen-animation;
	animation-duration:10s;
	animation-fill-mode:forwards;
	animation-timing-function: linear;
  }

/* Animaties GUCCI */

  @keyframes kleinesprong1-animation {
	0%{
		transform: scale(0)
	}

	10%{
		transform: scale(1.2);
	}

	20%{
		transform: scale(1);
	}

	72%{
		text-shadow:1px 1px 10px rgb(255, 246, 161), 1px 1px 10px rgb(224, 178, 49);
		transform: scale(1.3);
	}

	100%{
		box-shadow:0;
		transform: scale(1);
	}

  }

  @keyframes kleinesprong2-animation {
	0%{
		transform: scale(0)
	}

	20%{
		transform: scale(1.2);
	}

	25%{
		transform: scale(1);
	}

	74%{
		text-shadow:1px 1px 10px rgb(255, 246, 161), 1px 1px 10px rgb(224, 178, 49);
		transform: scale(1.3);
	}

	100%{
		box-shadow:0;
		transform: scale(1);
	}

  }

  @keyframes kleinesprong3-animation {
	0%{
		transform: scale(0)
	}

	22%{
		transform: scale(1.2);
	}

	27%{
		transform: scale(1);
	}

	76%{
		text-shadow:1px 1px 10px rgb(255, 246, 161), 1px 1px 10px rgb(224, 178, 49);
		transform: scale(1.3);
	}

	100%{
		box-shadow:0;
		transform: scale(1);
	}

  }

  @keyframes kleinesprong4-animation {
	0%{
		transform: scale(0)
	}

	25%{
		transform: scale(1.2);
	}

	30%{
		transform: scale(1);
	}

	78%{
		text-shadow:1px 1px 10px rgb(255, 246, 161), 1px 1px 10px rgb(224, 178, 49);
		transform: scale(1.3);
	}

	100%{
		box-shadow:0;
		transform: scale(1);
	}

  }

  @keyframes kleinesprong5-animation {
	0%{
		transform: scale(0)
	}

	27%{
		transform: scale(1.2);
	}

	31%{
		transform: scale(1);
	}

	80%{
		text-shadow:1px 1px 10px rgb(255, 246, 161), 1px 1px 10px rgb(224, 178, 49);
		transform: scale(1.3);
	}

	100%{
		box-shadow:0;
		transform: scale(1);
	}

  }

  @keyframes verkleuren-animation{
	  31%{
		  color: var(--fontColorG1)
	  }

	  50%, 100%{
		  color:var(--fontColorG2);
	  }

  }

  @keyframes achtergrond-animation{
	31%{
		background-color:var(--backgroundColorG1);
	}

	50%, 100%{
		background-color:var(--backgroundColorG2);
	}

	
  }

  body:hover section:nth-of-type(2){
	animation-name: achtergrond-animation;
	animation-duration:5s;
	transition:ease-in-out;
	animation-timing-function: linear;

  }


  section:hover h2{
	animation-name:verkleuren-animation;
	animation-duration:5s;
	transition:ease-in-out;
	animation-timing-function: linear;
  }

  section:hover h2 span:nth-of-type(1){
	  animation-name:kleinesprong1-animation;
	  animation-duration:5s;
	  transition:ease-in-out;
	  animation-timing-function: linear;
  }

  section:hover h2 span:nth-of-type(2){
	animation-name:kleinesprong2-animation;
	animation-duration:5s;
	transition:ease-in-out;
	animation-timing-function: linear;
}

section:hover h2 span:nth-of-type(3){
	animation-name:kleinesprong3-animation;
	animation-duration:5s;
	transition:ease-in-out;
	animation-timing-function: linear;
}

section:hover h2 span:nth-of-type(4){
	animation-name:kleinesprong4-animation;
	animation-duration:5s;
	transition:ease-in-out;
	animation-timing-function: linear;
}

section:hover h2 span:nth-of-type(5){
	animation-name:kleinesprong5-animation;
	animation-duration:5s;
	transition:ease-in-out;
	animation-timing-function: linear;
}